/* write your override styles here */

/* This overrides popsicle skull */
#wall .tag-1 {
  display: none;
}

/* This overrides peace-sign person */
.parent {
  display: none;
} 

/* This overrides big gray writing */  
#wall #tag-3.slick.wicked  {
  display: none;
}

#tag-5.slick {
  display: none;
}
/*
#wall #tag-4 {
  display: none;
} */
 /* 
#wall .parent #tag-6 {
  display: none;
} */